* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
}

.left,
.right {
  flex: 1;
}

.right {
  background-image: url("./images/main-right-1.jpeg");
  background-position: center;
  background-size: cover;
}

.right img,
.right figure {
  height: 100%;
  width: 100%;
}

.right figure {
  line-height: 0;
}

.right img {
  object-fit: cover;
  object-position: right;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6e6cb;
}

.left h1,
.left form .header a,
.left form .header a:visited {
  color: #eddbc0;
}

.left form .header a:hover {
  color: #daba8a;
}

.left form .header {
  display: flex;
}

.left form .header a {
  text-decoration: none;
}

.left form {
  background-color: #bf9270;
  padding: 3rem 1rem;
  border-radius: 8px;

  min-width: 250px;
  min-height: 350px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.left input {
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #eddbc0;
}

.left input::placeholder {
  color: #bf9270;
}

.left input:focus {
  outline: none;
}

.left .row {
  margin: 1rem 0;
}

.left button {
  padding: 0.5rem 2rem;
  font-size: 1rem;
  background: #86543999;
  border: none;
  border-radius: 4px;
  color: #eddbc0;
  cursor: pointer;
}
